{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block body %}

	<header class= 'mt-4 container text-center'>
		<h1 class= 'mb-4 text-center'>
			SAFE GUARDS
		</h1>
		<h2>
			Sécurité et prévention au coeur de notre mission
		</h2>
		<div class="lorem">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia cumque et repellat, architecto laboriosam necessitatibus natus aperiam officiis, deserunt eligendi asperiores laudantium, odio quam commodi esse aliquid consectetur a rerum.</div>
	</header>
	<input type="hidden" id="img_path" value="{{ asset('images/tremblementDeTerre.jpeg') }}">
	<section  class='container d-flex justify-content-center '>
		<div id="map"></div>
	</section>

	<section>
		<div class="d-flex justify-content-around">
			<div>
				<h3>Les articlese les plus populaires</h3>
				{% for article in readarticles %}
					{{ article.id}}
				{% endfor %}
			</div>
			<div>
				<h3>Les articles les plus lus</h3>
			</div>
		</div>
	</section>

	<section>
		{# total items count #}
		<div class="count">
			{{ pagination.getTotalItemCount }}
		</div>
		<table>
			<tr>
				{# sorting of properties based on query components #}
				<th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>
			</tr>

			{# table body #}
			{% for earthquake in pagination.items %}
				<tr {% if loop.index is odd %}class="color"{% endif %}>
					<td>{{ earthquake.id }}</td>
				</tr>
			{% endfor %}
		</table>
		{# display navigation #}
		<div class="navigation">
			{{ knp_pagination_render(pagination) }}
		</div>
		<h2>liste articles les plus lus</h2>
		<h2>liste articles les plus récent</h2>
	</section>
{% endblock %}
