{# templates/earthquake/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Liste des Catastrophes{% endblock %}

{% block body %}
<div class="container">
    <h1 class='my-4'>Liste des Catastrophes</h1>
    <div class="articles">
        {% for earthquake in pagination %}
            <a href="{{ path('earthquake_show', {id: earthquake.id}) }}">
                <div class=" d-flex my-2 pe-4 card-home">
                    <div>
                        {%  set num = random([1,2,3,4]) %}
                                    {% if num == 1 %}
                                        {% set url = 'images/c1.jpeg' %}
                                    {% elseif num == 2 %}
                                        {% set  url = 'images/c2.jpeg' %}
                                    {% elseif num == 3 %}
                                        {% set url = 'images/c3.jpeg' %}
                                    {% elseif num == 4 %}
                                        {% set url = 'images/c4.jpeg' %}
                                        
                                    {% endif %}
                                    <img src=" {{ asset(url) }} "  class='card-img-home' alt="">
                    </div>
                    <div class="ms-4 w-100">
                        <div class=" mt-4">
                            <h2 class="title-e-card">{{ earthquake.place }}</h2>
                        </div>
                        <div class="d-flex justify-content-between ">
                            <div>
                                <p class="p-earthquake-card ">Magnitude: {{ earthquake.mag }}</p>
                                <p class="p-earthquake-card ">Profondeur: {{ earthquake.depth }} km</p>
                            </div>
                            <div>
                                <p class="p-earthquake-card ">{{ earthquake.latitude }}, {{ earthquake.longitude }}</p>
                                <p class="date">Date et heure: {{ earthquake.time }}</p>
                            </div>
                        </div>
                    
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
    
    <div class="pagination">
        {{ knp_pagination_render(pagination) }}
    </div>
</div>
{% endblock %}





