{# templates/earthquake/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Liste des Catastrophes{% endblock %}

{% block body %}
<div class="container">
    <h1>Liste des Catastrophes</h1>
    <div class="articles">
        {% for earthquake in pagination %}
            <div class="article">
                <div class="content">
                    <h2>{{ earthquake.place }}</h2>
                    <p class="article-p">Magnitude: {{ earthquake.mag }}</p>
                    <p class="article-p">Profondeur: {{ earthquake.depth }} km</p>
                    <p class="article-p">{{ earthquake.latitude }}, {{ earthquake.longitude }}</p>
                    <p class="date">Date et heure: {{ earthquake.time }}</p>
                    <a href="{{ path('earthquake_show', {id: earthquake.id}) }}"></a>
                </div>
            </div>
        {% endfor %}
    </div>
    
    <div class="pagination">
        {{ knp_pagination_render(pagination) }}
    </div>
</div>
{% endblock %}





