{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
	<input id='idEarthquake' hidden value= {{ earthquake.id }}></input>
	<div class="titre text-center  text-light">
		<h1>Liste des Articles</h1>
	</div>
	<section>
		<!-- Jauge de l'intensité -->
		<div>

			<div class="jauge container ">
				<div class="jauge__part-1">
					<span class="jauge__part-1__item">0</span>
					<span class="jauge__part-1__item">3</span>
					<span class="jauge__part-1__item">6</span>
					<span class="jauge__part-1__item">9</span>
				</div>
				<div class="jauge__part-2">
					<div style="background-color: #198754;" data-value="vert"></div>
					<div style="background-color: #fd7e14;" data-value="orange"></div>
					<div style="background-color: #dc3545;" data-value="rouge"></div>
				</div>
			</div>
		</div>

	</section>

	{# maps avec l'intensite de richter #}
	
	<section class="text-light">
		<h2>map image interactive</h2>
		<div id="map"></div>
	</section>

	{# bloc des 3 articles #}
	<section class="mx-3  text-light">

		<div class="image">
			<img src="{{ asset('images/carre-gris-Copie-2.jpg')}}" alt="image_one" width="100" height="150">


			<img src="{{ asset('images/carre-gris-Copie-2.jpg')}}" alt="image_two" width="100" height="150">


			<img src="{{ asset('images/carre-gris-Copie-2.jpg')}}" alt="image_three" width="100" height="150">
		</div>
	</section>


	<section class="graphEarthquake d-flex">
		<div id="chart"></div>
		<div>
			<p>
				Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur culpa assumenda praesentium in magni corporis modi impedit debitis nam voluptates 
				tenetur sapiente, obcaecati atque tempora fugiat deleniti natus vel sed enim, ea, quisquam officia. Itaque asperiores commodi totam quam. Officia placeat 
				illo veniam architecto id iusto corporis impedit libero amet dolore, sunt, esse voluptatibus. Ab soluta labore aperiam ducimus deleniti impedit nesciunt 
				quis a magnam sapiente, ullam nostrum, error placeat neque debitis corrupti dolorem aliquid unde temporibus. Aut dignissimos minus vel deserunt vero quibusdam? 
				Voluptas quis soluta ad cum aliquid temporibus quibusdam cupiditate impedit consequuntur minus sit odio, itaque facere suscipit nobis quos pariatur natus accusantium 
				praesentium ducimus mollitia dolorem! Dolor optio nesciunt impedit corrupti sint voluptatibus excepturi tenetur deserunt, corporis expedita ipsa modi debitis architecto,
				voluptates, est repellendus esse enim maiores et facere incidunt voluptatem pariatur rem labore? Hic, illo? Amet repellendus asperiores, vel iure cum repellat accusantium natus 
				similique dolores earum sequi provident doloremque cupiditate! Possimus corrupti amet, earum doloribus eligendi cumque quam eveniet quas expedita fuga est vel autem maxime.
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, fuga?
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio officiis ipsam, velit natus dolorem expedita 
				saepe excepturi ducimus accusantium doloremque veniam non eius, vitae deleniti dolorum facere ab similique tenetur dolor illum quibusdam 
				laboriosam distinctio debitis praesentium. Quisquam aliquam maiores eos esse iure inventore labore, recusandae accusamus quam sed iusto totam 
				ad commodi deserunt voluptatibus repellat libero provident officia exercitationem ex eum dicta, animi iste. Vero repellendus sint blanditiis quiatque aut, ipsum odit, ad fugit vel 
				corporis temporibus molestiae nihil vitae veniam alias adipisci fugiat quo consequuntur molestias autem dicta pariatur. Modi dignissimos debitis nemo qui cumque autem odio.
			</p>
		</div>
	</section>
	
	<section>
		<div
			class=" mt-5">
			<!-- Une seule ligne pour contenir les deux blocs côte à côte -->
			<div
				class="row">
				<!-- Bloc "Lire aussi" -->
				<div class="col-md-6">
					<div class="text-white p-3">
						<h4>Sources</h4>
						<div>
							<p>Lien:
								<a class="link-opacity-50-hover text-light" href="#">http;//xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</a>
							</p>
							<p>Lien:
								<a class="link-opacity-50-hover text-light" href="#">http;//xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</a>
							</p>
							<p>Lien:
								<a class="link-opacity-50-hover text-light" href="#">http;//xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</a>
							</p>
							<p>Lien:
								<a class="link-opacity-50-hover text-light" href="#">http;//xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</a>
							</p>
							<p>Lien:
								<a class="link-opacity-50-hover text-light" href="#">http;//xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</a>
							</p>
						</div>
					</div>
				</div>

				<!-- Bloc "Sources" -->
				<div class="col-md-6">
					<div class="text-white p-3">
						<h1>Lire aussi</h1>
						<div class="articles p-2 	">
							{% for i in 0..3 %}
								<div style="display: flex; margin-left: 30px;" class="article_a">
									<div class="articles p-2">
										<div class="article">
											<div class="image">
												<img src="{{ asset('images/' ~ articles[i].image) }}" alt="{{ articles[i].title }}">
											</div>
											<div class="content">
												<h2>{{ articles[i].title }}</h2>
												<p class="article-p">{{ articles[i].content|slice(0, 150) }}...</p>
											</div>
										</div>
									</div>
								</div>
							{% endfor %}
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>


{% endblock %}
