{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
	<input id='idEarthquake' hidden value={{ earthquake.id }}></input>
<div class="titre text-center  text-light">
	<h1 class='mt-4'>Catastrophe</h1>
</div>
<section>
	<!-- Jauge de l'intensité -->
	<div >
		
		<div class="jauge container  py-4 ">
			
			<div class="jauge__part-1">
				<span class="jauge__part-1__item">0</span>
				<span class="jauge__part-1__item">3</span>
				<span class="jauge__part-1__item">6</span>
				<span class="jauge__part-1__item">9</span>
			</div>
			<div class="jauge__part-2 position-relative ">
				<div class='position-absolute left-50' id='barre' data-mag = "{{earthquake.mag }}" ></div>
				<div style="background-color: #198754;" data-value="vert"></div>
				<div style="background-color: #fd7e14;" data-value="orange"></div>
				<div style="background-color: #dc3545;" data-value="rouge"></div>
			</div>
		</div>
	</div>

</section>

{# maps avec l'intensite de richter #}

<section class="text-light text-center mt-4">
	<div class=" container d-flex justify-content-center">
		<div id="map" data-lat= "{{earthquake.latitude }}" data-long="{{ earthquake.longitude}}"></div>
	</div>

</section>


<section class="container graphEarthquake d-flex mb-4">
	<div id="chart"></div>
	<div>
		<p>
			Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur culpa assumenda praesentium in magni corporis modi impedit debitis nam voluptates 
																tenetur sapiente, obcaecati atque tempora fugiat deleniti natus vel sed enim, ea, quisquam officia. Itaque asperiores commodi totam quam. Officia placeat 
																illo veniam architecto id iusto corporis impedit libero amet dolore, sunt, esse voluptatibus. Ab soluta labore aperiam ducimus deleniti impedit nesciunt 
															
		</p>
	</div>
</section>

{# article #}
<section>
	<div class="container">


		<div class="row">

			<div class="col-md-8 p-5 text-white">
				<h3>Article</h3>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam assumenda iste minima eum mollitia. Consectetur eos consequatur deserunt 
									repellendus error recusandae dolorem dolores alias magnam. Ex aliquam cupiditate impedit tempore laboriosam? Quia nemo commodi illum maiores dignissimos iure? Dolore, nulla? Hic placeat quidem porro aliquam odit nam illum? Asperiores cupiditate eveniet, sequi totam at corporis nisi veniam. Nemo porro exercitationem labore eligendi, beatae animi, ex officia rerum iusto repellat eveniet. Earum nemo possimus cupiditate consequatur vero, magnam laborum culpa tempore quae modi quidem debitis nihil reiciendis perspiciatis ullam eum assumenda, hic ducimus? Ab quo labore ut sunt repellat, voluptas maiores hic quam beatae soluta molestiae, illum deserunt. At qui perspiciatis fugiat voluptas recusandae modi illo, sit reprehenderit explicabo dicta, fugit corporis a tenetur assumenda eos velit quisquam est molestiae sed adipisci quaerat soluta mollitia saepe! Quam voluptatem sapiente repudiandae dolore, laudantium eveniet amet! Exercitationem rem vero quae. Inventore, consectetur quam deserunt maxime ut cumque libero velit, unde repudiandae, non reiciendis natus quisquam! Sunt est facilis deleniti facere officia. Harum voluptas vero placeat consequuntur dolore molestiae nam impedit, tempore debitis ab quaerat beatae esse! 
									Animi delectus quas fuga laboriosam voluptate maxime! Eveniet impedit dignissimos enim saepe veritatis at consectetur sint velit.</p>

			</div>
			<div class="col-md-4 p-5">
				<img src="{{asset('images/c4.jpeg')}}" alt="ville avant séisme" padding="50px" width="300px" height="300px" class="rounded-4 mt-5">
			</div>
		</div>

		<div class="row">
			<div class="col-md-4 p-5">
				<img src="{{asset('images/c1.jpeg')}}" alt="ville pendant séisme" width="300px" height="300px" margin="50px" class="rounded-4  mt-5">
			</div>
			<div class="col-md-8 p-5 text-white ">
				<h3>Article</h3>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam assumenda iste minima eum mollitia. Consectetur eos consequatur deserunt 
									repellendus error recusandae dolorem dolores alias magnam. Ex aliquam cupiditate impedit tempore laboriosam? Quia nemo commodi illum maiores dignissimos iure? Dolore, nulla? Hic placeat quidem porro aliquam odit nam illum? Asperiores cupiditate eveniet, sequi totam at corporis nisi veniam. Nemo porro exercitationem labore eligendi, beatae animi, ex officia rerum iusto repellat eveniet. Earum nemo possimus cupiditate consequatur vero, magnam laborum culpa tempore quae modi quidem debitis nihil reiciendis perspiciatis ullam eum assumenda, hic ducimus? Ab quo labore ut sunt repellat, voluptas maiores hic quam beatae soluta molestiae, illum deserunt. At qui perspiciatis fugiat voluptas recusandae modi illo, sit reprehenderit explicabo dicta, fugit corporis a tenetur assumenda eos velit quisquam est molestiae sed adipisci quaerat soluta mollitia saepe! Quam voluptatem sapiente repudiandae dolore, laudantium eveniet amet! Exercitationem rem vero quae. Inventore, consectetur quam deserunt maxime ut cumque libero velit, unde repudiandae, non reiciendis natus quisquam! Sunt est facilis deleniti facere officia. Harum voluptas vero placeat consequuntur dolore molestiae nam impedit, tempore debitis ab quaerat beatae esse! 
									Animi delectus quas fuga laboriosam voluptate maxime! Eveniet impedit dignissimos enim saepe veritatis at consectetur sint velit.</p>

			</div>
		</div>


	</section>
	<section>
		<div
			class=" mt-5 container">
			<!-- Une seule ligne pour contenir les deux blocs côte à côte -->
			<div
				class="row">
				<!-- Bloc "Lire aussi" -->
				<div class="col-md-6">
					<div class="text-white p-3">
						<h4>Sources</h4>
						<div>
							<p>Lien:
								<a class="link-opacity-50-hover text-light" href="#">http;//xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</a>
							</p>
							<p>Lien:
								<a class="link-opacity-50-hover text-light" href="#">http;//xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</a>
							</p>
							<p>Lien:
								<a class="link-opacity-50-hover text-light" href="#">http;//xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</a>
							</p>
							<p>Lien:
								<a class="link-opacity-50-hover text-light" href="#">http;//xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</a>
							</p>
							<p>Lien:
								<a class="link-opacity-50-hover text-light" href="#">http;//xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</a>
							</p>
						</div>
					</div>
				</div>

				<!-- Bloc "Sources" -->
				<div class="col-md-6">
					<div class="text-white p-3">
						<h1>Lire aussi</h1>
						<div class="articles p-2 	">
							{% for i in 0..3 %}
							
								<div style="display: flex; margin-left: 30px; ;" class="article_a">
									<div class="articles p-2">
										<div class="article">
											<div>
												{%  set num = random([1,2,3,4]) %}
												{% if num == 1 %}
													{% set url = 'images/c1.jpeg' %}
												{% elseif num == 2 %}
													{% set  url = 'images/c2.jpeg' %}
												{% elseif num == 3 %}
													{% set url = 'images/c3.jpeg' %}
												{% elseif num == 4 %}
													{% set url = 'images/c4.jpeg' %}

												{% endif %}
												<img src=" {{ asset(url) }}" class='card-img-home' alt="image de la catastrophe en lien avec l'article">
											</div>
											<div class=" ms-4">
												<h3>{{ articles[i].title }}</h3>
												<p class="article-p">{{ articles[i].content|slice(0, 150) }}...</p>
											</div>
										</div>
									</div>
								</div>

							{% endfor %}
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
