{# templates/article/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Liste des Articles{% endblock %}

{% block body %}
<div class="container">
    <h1>Liste des Articles</h1>
    <div class="articles">
    {% if articles %}
        {% for article in articles %}
            <div class="article">
                <div class="image">
                    <img src="{{ asset('images/' ~ article.image) }}" alt="{{ article.title }}">
                </div>
                <div class="content">
                    <h2>{{ article.title }}</h2>
                    <p class="article-p">{{ article.content|slice(0, 150) }}...</p>
                    <p class="date">Publié le {{ article.createdAt|date('d/m/Y') }} à {{ article.location }}</p>
                </div>
                <div class="details">
                    <a href="{{ path('article_show', {id: article.id}) }}" class="btn">Voir détails</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
    <p>Aucun article pour l'instant</p>
    {% endif %}
    </div>
</div>
{% endblock %}
