{# templates/article/show.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Détail de l'Article
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class='my-4'>{{ article.title }}</h1>
		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}
		{# message d'erreur
				{% for message in app.flashes('error') %}
					<div class="alert alert-error">
						{{ message }}
					</div>
				{% endfor %} #}
		<div class="article-detail">
			<div>
				{%  set num = random([1,2,3,4]) %}
				{% if num == 1 %}
					{% set url = 'images/c1.jpeg' %}
				{% elseif num == 2 %}
					{% set  url = 'images/c2.jpeg' %}
				{% elseif num == 3 %}
					{% set url = 'images/c3.jpeg' %}
				{% elseif num == 4 %}
					{% set url = 'images/c4.jpeg' %}

				{% endif %}
				<img src=" {{ asset(url) }} " class='card-img-article-show' alt="">
			</div>
			<div class=" mt-4 ms-4">
				<h2>
					{{ article.title }}
				</h2>
				<p>
					{{ article.content }}
				</p>
			</div>
		</div>
		{% if app.user %}
			<form  action="{{ path('like_article', {id: article.id}) }}" method="post" >
				<input type="hidden" name="_token" value="{{ csrf_token('like' ~  app.user.id) }}">
				<button data-action="click->confirm#next" type="submit" class="btn btn-success btn-sm mt-4">Like</button>
				
				 <p class='mt-4 mb-0'>
				 	Il y a {{ nbLikes|default('0')}} likes.
				 </p>
				 
				 {% if like %}
					<p class='mt-0'>
						Vous avez liké.
					</p>
				 {% endif %}
			</form>
		{% endif %}
		<div class="container  mt-4">

			{{ form_start(form) }}
			{{ form_widget(form) }}
			<button type="submit" class="btn btn-primary">Soumettre</button>
			{{ form_end(form) }}

		</div>
		<div class="container  mt-4">
			<div class='row flex-column-reverse pt-2  '>
				{% for comment in comments %}
					<div class=' rounded px-4 pt-4 h-100 my-2 bg-blue d-flex flex-column  justify-content-between pb-2'>
						<div class="h-80">
							{{comment.content|raw}}
						</div>
						<div class='mt-4'>
							<p class='mb-0'>
								Publié par
								{{comment.user.firstName}}
								{{comment.user.lastName}}
							</p>
							<p class='mb-0'>
								Le
								{{comment.createdAt|date("d/m/y H:i")}}
							</p>
						</div>
					</div>
				{% endfor %}

			</div>
		</div>
	</div>
{% endblock %}
